[project]
	description = my first test repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vivekdhayaal
[access "refs/for/refs/*"]
	read = group user/vivekdhayaal
	push = group user/vivekdhayaal
	label-Code-Review = -2..+2 group user/vivekdhayaal
	label-Verified = -1..+1 group user/vivekdhayaal
	rebase = group user/vivekdhayaal
	removeReviewer = group user/vivekdhayaal
	submit = group user/vivekdhayaal
[access "refs/heads/*"]
	read = group user/vivekdhayaal
	create = group user/vivekdhayaal
	push = +force group user/vivekdhayaal
	pushMerge = group user/vivekdhayaal
[access "refs/tags/*"]
	push = +force group user/vivekdhayaal
	pushTag = group user/vivekdhayaal
	pushSignedTag = group user/vivekdhayaal
